@model notizenapp.Models.NoteViewModel

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].Text)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.notes[0].Importance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].FinishDate)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.notes[0].Finished)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.notes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.Importance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>