@model notizenapp.Models.NoteViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
   .note {
    border-style: dashed;
    border-width: 1px;
    padding-bottom: 6px;
    margin-bottom: 20px;
   }
</style>

<div class="container">
    <div class="row">
      <a class="btn btn-primary col-xs-4 col-md-2" asp-action="Create">Create New</a>
      <a class="btn btn-primary col-xs-4 col-md-2 pull-right" asp-action="Create">Change Style</a>
    </div>
   
    <div class="row">
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="finish_desc">By Finish Date</a>
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="created_desc">By Created Date</a>
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="importance_desc">By Importance</a>
      @if ((bool)ViewData["HideSetting"])
      {
        <a class="btn btn-primary col-md-2 col-xs-12 pull-right" asp-action="Index" asp-route-hideFinished="false">Show Finished</a>
      }else {
        <a class="btn btn-primary col-md-2 col-xs-12 pull-right" asp-action="Index" asp-route-hideFinished="true">Hide Finished</a>
      }

    </div>
</div>

<br><br>
@foreach (var item in Model.notes)
{
<div class="container note">
    <div class="row">
        <span class="col-md-1 col-xs-2">@Html.DisplayFor(modelItem => item.FinishDate)</span>
		<span class="col-md-8 col-xs-8">
		    <span>@Html.DisplayFor(modelItem => item.Title)</span>
			<span class="pull-right">@Html.DisplayFor(modelItem => item.Importance)</span>
		</span>
       
	</div>
    <div class="row">
        <span class="col-md-1 col-xs-2">@Html.DisplayFor(modelItem => item.Finished)</span>
        <textarea disabled="true" class="col-md-8 col-xs-8">@Html.DisplayFor(modelItem => item.Text)</textarea>
        <button asp-action="Edit"  class="btn btn-primary col-md-3 col-xs-3" asp-route-id="@item.ID">Edit</button>
    </div>
 </div>
}


