@model notizenapp.Models.NoteViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
      <a class="btn btn-primary col-xs-4 col-md-2" asp-action="Create">Create New</a>
      <a class="btn btn-primary col-xs-4 col-md-2 pull-right" asp-action="Create">Test New</a>
    </div>

    <div class="row">
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="finish_desc">By Finish Date</a>
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="created_desc">By Created Date</a>
      <a class="btn btn-primary col-md-2 col-xs-12" asp-action="Index" asp-route-sortOrder="importance_desc">By Importance</a>
      <a class="btn btn-primary col-md-2 col-xs-12 pull-right" asp-action="Index" asp-route-sortOrder="importance_desc">Hide Finished</a>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].Text)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.notes[0].Importance)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.notes[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes[0].FinishDate)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.notes[0].Finished)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.notes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.Importance)
                </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>